.handleMonthChange {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.categoriesSummaryCharts {
    display: flex;
    margin-top: 20px;
    padding: 0 15px;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}