.transactionItem {
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.amount {
    color: #434341;
    font-size: 1.2rem;
}

.time {
    color: #7d7e77;
    font-size: 0.8rem;
}

.category {
    color: #7d7e77
}

.centralContainer {
    margin-left: 10px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container {
    display: flex;
    gap: 10px;
    align-items: center;
}