.footer {
    padding: 0 10px;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #00312f;
}

.menuGroup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    padding: 10px 0;
}

.menuItem {
    color: white;
    text-align: center;
    font-size: 14px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.menuCenter {
    flex: 0.5;
}

.centerButtonContainer {
    background-color: #f8f9f2;
    transform: translateY(-50%);
    border-radius: 0 0 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.centerButton {
    width: 60px;
    height: 60px;
    background-color: #007a57;
    color: #f3f5e4;
    border: none;
    border-radius: 50%;
    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
}

.centerButton:hover {
    background-color: #005f3b;
}
